<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
    <h1>
        Escape
    </h1>
</div>


<div>
    <div class="col-sm-6">
        <div class="form-inline">
            <div class="form-inline">
                <label>Minutes</label>
                <input #inputMinutes class="form-control" [(ngModel)]="minutes" />
                <button class="btn" [class.disabled]="running" (click)="startTimer()" type="submit">Start</button>
                <button class="btn" [class.disabled]="!running" (click)="stopTimer()" type="submit">Stop</button>
            </div>
        </div>

        <br>

        <div class="form-inline">
            <div class="form-inline">
                <label>Minutes suplementaire</label>
                <input #inputMinutesAdd class="form-control" [(ngModel)]="minutesAdd" />
                <button class="btn" (click)="addMinutes()" type="submit">Ajouter</button>
            </div>
        </div>

        <br>

        <div class="form-inline">
            <div class="form-inline">
                <label>Message</label>
                <input #inputMessage class="form-control" [(ngModel)]="message" />
                <button class="btn" (click)="getWindow()">Open</button>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div>
            <h1 [class.blink-me]="warning" [class.text-danger]="warning" class="clock">
                <label id="timeCounter">
                {{formattedTime}}
                </label>
            </h1>
        </div>
        <div>
            <h1>
                <label id="messageDisplay">
            {{message}}
            </label>
            </h1>
        </div>
    </div>

</div>